body {
    margin: 0;
}

.main-header {
    width: 100%;
    background-color: #356B2E;
    padding: 8px 16px;

}

.main-header a {
    text-decoration: none;
}

.main-header > div {
    display: inline-block;
}

.main-header_logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 173px);
    text-decoration: none;
}

.main-nav_items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav_item {
    display: inline-block;
}


