body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    width: 100%;
    background-color: #356B2E;
    padding: 20px 45px;

}

.main-header a {
    text-decoration: none;
    color: white;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_logo {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.main-nav {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: calc(100% - 536px);    
}

.main-nav_items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav_item {
    font-size: 23px;
    margin-left: 40px;
    display: inline-block;
}

.main-nav_item a {
    padding-bottom: 3px;
}

.main-nav_item a:hover {
    border-bottom: 3px solid white;
}

#product_overview {
    opacity: .7;
    background: url("./images/jumbo.jpg");
    width: 100%;
    height: 536px;
}

#product_overview h1 {
    
    color: white;
    padding: 0;
    margin: 0;
}

.buy-now-container {
    width: 100%;

}

.buy-now-container h1, h5 {
    padding: 0;
    margin: 0;
}

.buy-now {
    padding-left: 25px;
    width: 22%;
    text-align: center;
    display: inline-block
}

.buy-now img {
    width: 50%;
}
