body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-header-scroll {
    transition: 2s;
    width: 100%;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background: rgba(0,0,0,.5);
}

.main-header-scroll a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

.main-header-scroll > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_logo-scroll {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.main-header {
    width: 100%;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
}

.main-header a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_logo {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.main-nav {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: calc(100% - 536px);    
}

.main-nav_items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav_item {
    font-size: 23px;
    margin-left: 40px;
    display: inline-block;
}

.main-nav_item a {
    padding-bottom: 3px;
}

.main-nav_item a:hover {
    border-bottom: 3px solid white;
}

#product_overview {
    background: url("./images/jumbo.jpg");
    width: 100%;
    height: 536px;
    text-align: center;
}

#product_overview h1 {
    color: white;
    padding: 0;
    margin: 0;
}

.product_overview-wrapper {
    padding-top: 10%;
    color: white; 
}

.buy-now-btn-top {
    margin: 0 auto;
    width: 10%;
    border: solid 3px white;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.buy-now-btn-top:hover {
    background-color: #356B2E;
}

.free-shipping-container {
    color: white;
    font-size: 20px;
    background-color: #356B2E;
    text-align: center;
}


.spectrum-container {
    background-color: #EBEBEB;
    width: 100%;
    text-align: center;
    
}

.spectrum-container h3 {
    padding-top: 30px;
    margin: 0;
}

.spectrum-wrapper {
    width: 100%;
}

.explain-thing {
    display: inline-block;
    width: 20%;
    padding-bottom: 50px;
}

.buy-now-container {
    background: linear-gradient(180deg,#006a2d 50%,#fff 40%);
    width: 100%;
}

.buy-now-container h1, h5 {
    padding: 0;
    margin: 0;
}

.buy-now {
    padding-top: 20px;
    padding-left: 25px;
    width: 23%;
    text-align: center;
    display: inline-block;
    vertical-align: middle; 
}

.buy-now ul {
list-style: none;
}

.buy-now img {
    width: 50%;
}

.buy-now-btn {
    font-size: 1.3rem;
    margin: 0 auto;
    background-color: white;
    border: solid 2px #006a2d;
    width: 25%;
    cursor: pointer;
}
.buy-now-btn:hover {
    background-color: #006a2d;
    color: white;
}

.buy-now-btn p {
    margin: 5px;
}

.benefits {
    text-align: center;
}

.top-sellers {
background-image: url("./images/parallax.png");
height: 300px; 
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}

.top-sellers h1 {
    color: white;
    font-size: 55px;
    padding: 60px;  
}





.email-form {
    padding-top: 3%;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

#email-form {
    display: inline-block;
    font-size: 2.3rem;
    outline: none;
    border: none;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2) !important
}

input::placeholder {
    font-size: 1.2rem;
    text-align: center;
}

#submit-btn {
    display: inline-block;  
    color: #006a2d; 
    border-style: solid 6px #006a2d;
    background-color: white;
    font-size: 2.3rem;
    cursor: pointer;
}

footer {
    width: 100%;
    display: inline-block;
    background-color: #222222;
    color: white;
}

.footer-row {
    text-align: center;
    margin: 3%;
    width: 18%;
    display: inline-block;
}

.footer-row > i {
    margin-left: 6px;
}

.copyright-container {
    width: 100%;
    text-align: center;
}

.fa-bitcoin:hover {
    cursor: pointer;
    color: #FF9900;
}

.fa-monero:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(#F1682C 60%, #4D4D4D 40%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.fa-cc-visa:hover {
    background: -webkit-linear-gradient(#F19E33 50%, #004B88 50%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.fa-cc-discover:hover {
    color: #1B4576;
}

.fa-paypal:hover {
    color: #004B88;
}